{% extends 'base.html' %} {% block content %} {% if object %}
<div class="hero is-primary">
  <div class="hero-body">
    <p class="title">Edit a source you have added</p>
  </div>
</div>

{% else %}
<div class="hero is-primary">
  <div class="hero-body">
    <p class="title">Add a source to our collection</p>
  </div>
</div>

{% endif %}
<section class="section is-medium pt-3 pb-3">
  <form method="POST">
    {% csrf_token %}
    <div class="content is-large">{{ form }}</div>
    <div class="has-text-right-desktop">
      <input type="submit" value="submit" class="button is-success is-large" />
    </div>
  </form>
</section>
<script>
  document.getElementById("id_quoter").className = "input is-rounded is-large";
  document.getElementById("id_quoter").placeholder =
    "who wrote/spoke the quote?";
  document.getElementById("id_origin").className = "input is-rounded is-large";
  document.getElementById("id_origin").placeholder =
    "where was it written/spoken?";
  document.getElementById("id_note").className = "textarea";
  document.getElementById("id_note").placeholder =
    "if applicable, provide context here";
  document.getElementById("id_note").rows = "4";
</script>
{% endblock %}
